<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:700&display=swap" rel="stylesheet">
    <title>@ViewBag.Title - Nofar's Accessories</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Style.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">

                <div class="navbar-header">
                    @Html.ActionLink("Nofar's Accessories", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <ul class="nav navbar-nav">
                    <li class="top-user-section">@Html.ActionLink("Home Page", "Index", "Home")</li>
                    <li class="top-user-section">@Html.ActionLink("Products", "Category", "Products")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li> @Html.ActionLink("Branches", "Index", "Branches")</li>
                    @if (Session["userId"] == null)
                    {
                        <li> @Html.ActionLink("Login", "Login", "Users")</li>
                        <li> @Html.ActionLink("Signup", "Signup", "Users")</li>
                    }
                    else
                    {
                        <li class="top-user-section" id="userName">
                            <a id="user-hello">Welcome, @Session["userName"]</a>
                        </li>
                        //Admin panel is employee, User panel is user
                        <li class="top-user-section">@Html.ActionLink("Logout", "Logout", "Users")</li>
                    }
                </ul>
                <a class="cart-btn btn btn-toolbar btn-lg nav navbar-nav navbar-right" href="/cartitems/details">
                    <span class="cart-icon glyphicon glyphicon-shopping-cart"></span>
                </a>
            </div>
        </nav>
    </header>
    <section class="container body-content">
        @RenderBody()
        <hr />
    </section>

    <footer>
        <div class="container">

            <section class="col-md-4" id="about">
                <h2 class="page-header footer-header">About</h2>
                 @Html.ActionLink("About us", "About", "Home")<br/>
                 @Html.ActionLink("Branches", "Index", "Branches")
            </section>
            <section class="col-md-4" id="help&information">
                <h2 class="page-header footer-header">Help & Information</h2>
                @Html.ActionLink("Contact us", "Contact", "Home")
            </section>
            <section class="col-md-4" id="social_links">
                <h2 class="page-header footer-header">Find us on</h2>
                <a href="https://www.facebook.com/Nofars-Accessories-108498187173044" class="fa fa-facebook"></a>                                                                 
            </section>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>