@model IEnumerable<OxfordStreet_online_app.Models.CartItem>

@{
    ViewBag.Title = "Details";
}


@if (Model == null || Model.Count() == 0)
{
    <p>Cart Is Empty.</p>
}
else
{
    <h2>Details @Html.DisplayNameFor(model => model.CartId)</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                Price
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @(item.Product.Price * @item.Quantity)
                </td>
                <td>
                    @Html.ActionLink("Delete Product From Cart", "DeleteProduct", new { productId = item.ProductId })
                </td>
            </tr>
        }
    </table>

    @Html.ActionLink("Delete Cart", "DeleteCart")
}
