@using OxfordStreet_online_app.Models
@{
    ViewBag.Title = "Signup New Employee";
}

<h2 class="page-header header">Employee Signup</h2>

@if (ViewBag.Error != null)
{
    <div class="alert-danger">
        Error: @ViewBag.Error
    </div>
}

    <form method="post" action="@Url.Action("Create", "Employees")">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input class="form-control" type="text" name="firstName" value="" id="firstName" />
        </div>
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input class="form-control" type="text" name="lastName" value="" id="lastName" />
        </div>
        <div class="form-group">
            <label for="Email:">Email:</label>
            <input class="form-control" type="email" name="email" value="" id="email" />
        </div>
        <div class="form-group">
            <label for="monthlySalary:">Monthly Salary:</label>
            <input class="form-control" type="number" name="email" value="" id="monthlySalary" />
        </div>
        <div class="form-group">
            <label>Branch:</label>
            @Html.DropDownList("BranchId",
                (IEnumerable<SelectListItem>)ViewBag.BranchId,
                "Select Branch",
                new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Role:</label>
            @Html.DropDownList("role",
                EnumHelper.GetSelectList(typeof(Role)),
                "Select Role",
                new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="manager">Is Manager?</label>
            <input class="checkbox" type="checkbox" name="manager" value="Manager" id="manager">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input class="form-control" type="password" name="password" value="" id="password" />
        </div>
        <div class="form-group">
            <label for="passwordVerification">Password Verification:</label>
            <input class="form-control" type="password" name="passwordVerification" value="" id="passwordVerification" />
        </div>

        <input type="submit" value="Submit" class="btn btn-default btn-lg btn-block" />
    </form>