@model IEnumerable<OxfordStreet_online_app.Models.Employee>

@{
    ViewBag.Title = "Employees";
}

<h2 class="page-header header">Employees</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            Name
        </th>
        <th>
            Branch
        </th>
        <th>
            Monthly Salary
        </th>
        <th>
            Role
        </th>
        <th>
            Is Manager?
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Branch.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonthlySalary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsManager)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmployeeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeId })
        </td>
    </tr>
}

</table>
