@model IEnumerable<OxfordStreet_online_app.Models.Product>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

@{
    ViewBag.Title = "ApiTest";
}

<h2>ApiTest</h2>

<p id="temp"></p>

<script>
    $.ajax({
        type: "GET",
        url: 'http://dataservice.accuweather.com/currentconditions/v1/215854',
        data: {apikey:'Ye3oNF29NPxfeh86lf78LZexsWtOnSVA'},
        success: function (json) {
            var temp = JSON.stringify(json[0].Temperature.Metric.Value);
            $('#temp').html(temp);
        }
    });
</script>

<div class="container">
    @for (var i = 0; i < Model.Count(); i += 4)
    {
        <div class="row">
            <div class="col-sm-3">
                <div class="category-product-container">
                    <a href="/Products/Details/@Html.DisplayFor(modelItem => Model.ElementAt(i).ProductId)">
                        <img class="category-product-img" src="@Html.DisplayFor(modelItem => Model.ElementAt(i).ImageUrl)" alt="@Html.DisplayFor(modelItem => Model.ElementAt(i).Name)" />
                        <div class="category-product-details-container">
                            <div class="category-product-name">@Html.DisplayFor(modelItem => Model.ElementAt(i).Name)</div>
                            <div class="category-product-price">@Html.DisplayFor(modelItem => Model.ElementAt(i).Price) NIS</div>
                        </div>
                    </a>
                </div>
            </div>

            @if (i + 1 < Model.Count())
            {
                <div class="col-sm-3">
                    <div class="category-product-container">
                        <a href="/Products/Details/@Html.DisplayFor(modelItem => Model.ElementAt(i+1).ProductId)">
                            <img class="category-product-img" src="@Html.DisplayFor(modelItem => Model.ElementAt(i+1).ImageUrl)" alt="@Html.DisplayFor(modelItem => Model.ElementAt(i+1).Name)" />
                            <div class="category-product-details-container">
                                <div class="category-product-name">@Html.DisplayFor(modelItem => Model.ElementAt(i + 1).Name)</div>
                                <div class="category-product-price">@Html.DisplayFor(modelItem => Model.ElementAt(i + 1).Price) NIS</div>
                            </div>
                        </a>
                    </div>
                </div>
            }

            @if (i + 2 < Model.Count())
            {
                <div class="col-sm-3">
                    <div class="category-product-container">
                        <a href="/Products/Details/@Html.DisplayFor(modelItem => Model.ElementAt(i+2).ProductId)">
                            <img class="category-product-img" src="@Html.DisplayFor(modelItem => Model.ElementAt(i+2).ImageUrl)" alt="@Html.DisplayFor(modelItem => Model.ElementAt(i+2).Name)" />
                            <div class="category-product-details-container">
                                <div class="category-product-name">@Html.DisplayFor(modelItem => Model.ElementAt(i + 2).Name)</div>
                                <div class="category-product-price">@Html.DisplayFor(modelItem => Model.ElementAt(i + 2).Price) NIS</div>
                            </div>
                        </a>
                    </div>
                </div>
            }
            
            @if (i + 3 < Model.Count())
            {
                <div class="col-sm-3">
                    <div class="category-product-container">
                        <a href="/Products/Details/@Html.DisplayFor(modelItem => Model.ElementAt(i+3).ProductId)">
                            <img class="category-product-img" src="@Html.DisplayFor(modelItem => Model.ElementAt(i+3).ImageUrl)" alt="@Html.DisplayFor(modelItem => Model.ElementAt(i+2).Name)" />
                            <div class="category-product-details-container">
                                <div class="category-product-name">@Html.DisplayFor(modelItem => Model.ElementAt(i + 3).Name)</div>
                                <div class="category-product-price">@Html.DisplayFor(modelItem => Model.ElementAt(i + 3).Price) NIS</div>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    }
</div>