
@{
    ViewBag.Title = "Index";
}

<h2>Admin Panel</h2>

@Html.ActionLink("Branches", "Index", "Branches")
@Html.ActionLink("Employees", "Index", "Employees")
@Html.ActionLink("Orders", "Index", "Orders")
@Html.ActionLink("Products", "Index", "Products")
@Html.ActionLink("Suppliers", "Index", "Suppliers")
@Html.ActionLink("Users", "Index", "Users")
@Html.ActionLink("Monthly Grossing", "MonthlyGrossing", "Admin")
@Html.ActionLink("Sales Per Product", "SalesPerProduct", "Admin")