@model OxfordStreet_online_app.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order ID @Model.OrderId</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Branch Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch.Name)
        </dd>

        <dt>
            Customer's Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName) @Html.DisplayFor(model => model.User.LastName)
        </dd>

        <dt>
            Order Created At
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            Total Cost
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCost) ₪
        </dd>

        <dt>
            Order Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
    
    <table class="table">
        <tr>
            <th>
                Product ID
            </th>
            <th>
                Quantity
            </th>
        </tr>
        
        @foreach (var item in Model.OrderProducts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
