@using OxfordStreet_online_app.Models
@model IEnumerable<OxfordStreet_online_app.Models.Order>

@{
    ViewBag.Title = "Orders";
}

<h2 class="page-header header">Orders</h2>

<form method="post" action="@Url.Action("Index", "Orders")">
    @Html.AntiForgeryToken()
    <div class="container" style="border-style: solid; border-width: 2px;">
        <h3>Search Orders</h3>
        <div class="row" style="margin: 10px;">
            <div class="col-sm-4">
                <input name="minDate" class="form-control" placeholder="From Date" class="textbox-n" type="text" onfocus="(this.type='date')">
            </div>
            <div class="col-sm-4">
                <input class="form-control" type="number" name="minTotal" min="1" value="" placeholder="Min Total Paid In ₪" />
            </div>
            <div class="col-sm-4">
                @Html.DropDownList("status", 
                    EnumHelper.GetSelectList(typeof(OrderStatus)) , 
                    "Select Order Status", 
                    new { @class = "form-control" })
            </div>
        </div>
        <div style="margin: 5px">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </div>
</form>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Branch Name
        </th>
        <th>
            Customer's Name
        </th>
        <th>
            Order Created At
        </th>
        <th>
            Total Cost
        </th>
        <th>
            Order Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Branch.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCost) ₪
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderId })
        </td>
    </tr>
}

</table>
