@model OxfordStreet_online_app.Models.Order

@{
    ViewBag.Title = "OrderDetails";
}
<h2 class="page-header header">Order Details</h2>

@if (ViewBag.Error != null)
{
    <div class="alert-danger">
        Error: @ViewBag.Error
    </div>
}

@if (Model == null)
{
    <form method="post" action="@Url.Action("OrderDetails", "Orders")">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label for="email">Email:</label>
            <input class="form-control" type="email" name="email" id="email" value="" required/>
        </div>
        <div class="form-group">
            <label for="orderID">Order ID:</label>
            <input class="form-control" type="number" name="orderID" id="orderID" value="" required/>
        </div>
        <input type="submit" value="Submit" class="btn btn-default btn-lg btn-block" />
    </form>



}
else
{
    <h3 class="h3">Order ID: @Model.OrderId</h3>
    <h3 class="h3">Order Status: @Model.Status</h3>
    <h3 class="h3">Total Paid: @Model.TotalCost ₪</h3>

    <table class="table table-hover">
        <tr>
            <th>
                Product ID
            </th>
            <th>
                Quantity
            </th>
        </tr>

        @foreach (var item in Model.OrderProducts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
            </tr>
        }
    </table>

    <form method="post" action="@Url.Action("CancelOrder", "Orders")">
        @Html.AntiForgeryToken()
        <input class="form-control" type="hidden" value="@Model.OrderId" name="orderId" />
        <input type="submit" value="Cancel Order" class="btn btn-default btn-lg btn-block" />
    </form>
}
