@model IEnumerable<OxfordStreet_online_app.Models.Product>

@{
    ViewBag.Title = "Products Category";
}

<h2  class="page-header header">Products Category</h2>

<form method="post" action="@Url.Action("Category", "Products")">
    @Html.AntiForgeryToken()
    <div class="container" style="border-style: solid; border-width: 2px;">
        <h3>Search Products</h3>
        <div class="row" style="margin: 10px;">
            <div class="col-sm-4">
                <input class="form-control" type="text" name="prodName" value="" placeholder="Product Name" />
            </div>
            <div class="col-sm-4">
                <input class="form-control" type="number" name="prodMaxPrice" min="1" value="" placeholder="Max price in ₪" />
            </div>
            <div class="col-sm-4">
                @Html.DropDownList("prodCategory", null, "Select Product Category", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div style="margin: 5px">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </div>
</form>

<div class="container">
    @for (var i = 0; i < Model.Count(); i+=3)
    {
        <div class="category-row">
            <div>
                <div class="category-product-container">
                    <a href="/Products/Details/@Html.DisplayFor(modelItem => Model.ElementAt(i).ProductId)">
                        <img class="category-product-img" src="@Html.DisplayFor(modelItem => Model.ElementAt(i).ImageUrl)" alt="@Html.DisplayFor(modelItem => Model.ElementAt(i).Name)" />
                        <div class="category-product-details-container">
                            <div class="category-product-name">
                                <label>@Html.DisplayFor(modelItem => Model.ElementAt(i).Name)</label>
                            </div>
                            <div class="category-product-price">
                                <label> @Html.DisplayFor(modelItem => Model.ElementAt(i).Price) ₪ </label>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            
            @if (i + 1 < Model.Count())
            {
                <div>
                    <div class="category-product-container">
                        <a href="/Products/Details/@Html.DisplayFor(modelItem => Model.ElementAt(i+1).ProductId)">
                            <img class="category-product-img" src="@Html.DisplayFor(modelItem => Model.ElementAt(i+1).ImageUrl)" alt="@Html.DisplayFor(modelItem => Model.ElementAt(i+1).Name)" />
                            <div class="category-product-details-container">
                                <div class="category-product-name">
                                    <label>@Html.DisplayFor(modelItem => Model.ElementAt(i + 1).Name)</label>
                                </div>
                                <div class="category-product-price">
                                    <label> @Html.DisplayFor(modelItem => Model.ElementAt(i + 1).Price) ₪</label>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }
            
            @if (i + 2 < Model.Count())
            {
                <div>
                    <div class="category-product-container">
                        <a href="/Products/Details/@Html.DisplayFor(modelItem => Model.ElementAt(i+2).ProductId)">
                            <img class="category-product-img" src="@Html.DisplayFor(modelItem => Model.ElementAt(i+2).ImageUrl)" alt="@Html.DisplayFor(modelItem => Model.ElementAt(i+2).Name)" />
                            <div class="category-product-details-container">
                                <div class="category-product-name">
                                    <div> @Html.DisplayFor(modelItem => Model.ElementAt(i + 2).Name)</div>
                                </div>
                                <div class="category-product-price">
                                    <label>@Html.DisplayFor(modelItem => Model.ElementAt(i + 2).Price) ₪</label>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    }
</div>
