@model OxfordStreet_online_app.Models.Product

@{
    ViewBag.Title = "Product Details";
}

<div class="product-page-title">
    <h2 class="page-header header">@Html.DisplayFor(model => model.Name)</h2>
</div>

<div class="row">
    <div class="col-md-9">
        <div class="product-page-image">
            <img src="@Html.DisplayFor(model => model.ImageUrl)" height="600" width="600" style="max-width: 600px; max-height: 600px;">
        </div>
    </div>
    <div class="col-md-3">
        <div class="product-page-details-container">
            <div class="form-group">
                <label for="price">Price:</label>
                <label class="label-primary" id="price">@Html.DisplayFor(model => model.Price) ₪</label>
            </div>
            <div class="form-group">
                <label for="weatherType">Weather type:</label>
                <label class="label-primary" id="weatherType">@Html.DisplayFor(model => model.WeatherType)</label>
            </div>
         </div>

        <form method="post" action="@Url.Action("AddProductToCart", "CartItems")">
            <label for="quantity">Quantity:</label>
            <input class="form-control" id="quantity" type="number" min="1" name="quantity" value="1" />
            <input type="hidden" name="productId" value="@Model.ProductId" />
                <!--ADD TO CART BTN-->
            <input type="submit" value="Add To Cart" class="btn btn-default btn-lg btn-block" />
        </form>        
    </div>
</div>